@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import "tailwindcss";
@plugin '../lib/hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.light *));



@layer utilities {
  @keyframes waterFlowGradient {
    0% {
      background-position: 0% 50%;
    }
    20% {
      background-position: 50% 60%;
    }
    40% {
      background-position: 100% 40%;
    }
    60% {
      background-position: 50% 30%;
    }
    80% {
      background-position: 0% 60%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-waterFlow {
    animation: waterFlowGradient 10s ease-in-out infinite;
    background-size: 600% 600%;
    background-repeat: no-repeat;
  }
}

/* Hide number input arrows (Chrome, Safari, Edge) */
input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"].no-spinner {
  -moz-appearance: textfield;
}
